<div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4 order-0 order-sm-1">
    <div class="text-center pb-4 pt-4">
        <img src="/img/logo.png" width="60" alt="THX Logo" />
    </div>
    <div class="card shadow-sm mb-5">
        <div class="card-body pt-sm-5 px-sm-5 pb-md-4">
            <strong class="h2 d-block text-dark text-center mb-4">
                Oops, an error occured.
            </strong>

            <% if (locals.alert && alert.message) { %>
            <div class="alert alert-<%= alert.variant %>">
                <%= alert.message %>
            </div>
            <% } %>

            <p>
                Please use the buttons below to find your way back.
            </p>
            <% if (rewardUrl) { %>
            <a class="btn rounded-pill btn-primary btn-block" href="<%= rewardUrl %>">
                Try to claim your reward again
                <i class="fas fa-chevron-right" aria-hidden="true"></i>
            </a>
            <% } %>
            <a class="btn rounded-pill btn-light btn-block" href="<%= dashboardUrl %>">
                Go to dashboard.thx.network
                <i class="fas fa-chevron-right" aria-hidden="true"></i>
            </a>
            <a class="btn rounded-pill btn-light btn-block" href="<%= walletUrl %>">
                Go to wallet.thx.network
                <i class="fas fa-chevron-right" aria-hidden="true"></i>
            </a>
            <a class="btn rounded-pill btn-light btn-block" href="<%= publicUrl %>">
                Go to www.thx.network
                <i class="fas fa-chevron-right" aria-hidden="true"></i>
            </a>

        </div>
    </div>
</div>