<div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4 order-0 order-sm-1">
    <div class="text-center pb-4 pt-4">
        <img src="/img/logo.png" width="60" alt="THX Logo" />
    </div>
    <div class="card shadow-sm mb-5">
        <div class="card-body p-sm-5">
            <% if (locals.alert && alert.message) { %>
            <div class="alert alert-<%= alert.variant %>">
                <%= alert.message %>
            </div>
            <% } %>
            <% if (locals.alert && alert.variant=='success' ) { %>
            <div class="alert alert-<%= alert.variant %>">
                <strong>Congratulations!</strong><br />
                <span>Your password has been reset successfully.</span>
            </div>
            <a class="btn btn-primary btn-block rounded-pill" href="<%= params.return_url %>">
                Sign in
            </a>
            <% } else { %>
            <form autocomplete="off" action="/oidc/<%= uid %>/reset" method="post">
                <strong class="h2 d-block text-dark text-center mb-4">
                    Reset password
                </strong>
                <p class="text-muted">Passwords should have a minimal length of 8 characters
                    and contain lowercase, uppercase, special (!@#$%^&*) characters and a
                    number (0-9).</p>
                <div class="form-group">
                    <label>New password:</label>
                    <input class="form-control" autocomplete="off" required type="password" name="password">
                </div>
                <div class="form-group">
                    <label>Repeat new password:</label>
                    <input class="form-control" autocomplete="off" required type="password" name="passwordConfirm">
                </div>
                <input type="hidden" name="returnUrl" value="<%= params.return_url %>" />
                <input type="hidden" name="passwordResetToken" value="<%= params.password_reset_token %>" />
                <button type="submit" class="btn rounded-pill btn-primary btn-block">
                    Submit
                    <i class="fas fa-chevron-right" aria-hidden="true"></i>
                </button>
            </form>
            <% } %>
        </div>
    </div>
</div>