<script type="module" src="/js/signup.js"></script>

<div class="col-lg-5 offset-lg-1 pt-3">
    <div class="text-center pb-4 pt-4">
        <img src="/img/logo.png" width="60" alt="THX Logo" />
    </div>
    <div class="card shadow-lg mb-5">
        <div class="card-body p-sm-5">
            <% if (locals.alert && alert.message && alert.variant==='danger' ) { %>
            <div class="alert alert-<%= alert.variant %>">
                <%= alert.message %>
            </div>
            <% } %>
            <% if (locals.alert && alert.message && alert.variant==='success' ) { %>
            <strong class="h2 d-block text-dark text-center mb-4">
                THX for signing up!
            </strong>
            <div class="alert alert-<%= alert.variant %>">
                <%= alert.message %>
            </div>
            <% } else { %>
            <form autocomplete="off" action="/oidc/<%= uid %>/signup" method="post">
                <div class="form-group">
                    <label>E-mail:</label>
                    <input class="form-control" type="email" name="email" v-model="email" required :class="{
                        'is-valid': email && validEmail, 'is-invalid': email && !validEmail
                    }" />
                </div>
                <div class="form-group position-relative">
                    <label>Password:</label>
                    <input @blur="showPopover = false" @focus="showPopover = true" class="form-control" autocomplete
                           required type="password" name="password" v-model="password" :class="{
                            'is-valid': password && validPassword, 'is-invalid': password && !validPassword
                        }">
                    <div class="popover" v-if="showPopover"
                         style="top: 100%; position: absolute; left: 0; right: 0; margin-top: .5rem">
                        <div class="popover-body">
                            <ul class="pl-3 mb-1">
                                <li v-for="v in validations" class="small"
                                    :class="{'text-success': v.valid, 'text-danger': !v.valid}">
                                    {{v.hint}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Password again:</label>
                    <input class="form-control" autocomplete required type="password" name="confirmPassword"
                           v-model="passwordRepeat" :class="{
                            'is-valid': passwordRepeat && validPasswordRepeat, 'is-invalid': passwordRepeat && !validPasswordRepeat
                        }">
                </div>
                <div class="form-group">
                    <div class="m-0 custom-control custom-checkbox b-custom-control-sm">
                        <input id="acceptTermsPrivacy" type="checkbox" name="acceptTermsPrivacy"
                               class="custom-control-input" :value="true" v-model="acceptTermsPrivacy">
                        <label for="acceptTermsPrivacy" class="custom-control-label font-weight-normal">
                            I agree to THX' <a href="<%= publicUrl %>/general-terms-and-conditions.pdf"
                               target="_blank">terms of use</a> and <a href="<%= publicUrl %>/privacy-policy.pdf"
                               target="_blank">privacy statement</a>
                        </label>
                    </div>
                    <div class="custom-control custom-checkbox b-custom-control-sm">
                        <input id="acceptUpdates" type="checkbox" name="acceptUpdates" class="custom-control-input"
                               value="true">
                        <label for="acceptUpdates" class="custom-control-label font-weight-normal">
                            Opt-in to receive updates from THX on its products, you can opt-out at any time.
                        </label>
                    </div>
                    <input type="hidden" name="returnUrl" value="<%= params.return_url %>" />
                </div>
                <div class="form-group row mb-0">
                    <div class="col-md-12">
                        <button type="submit" class="btn rounded-pill mt-3 btn-primary btn-block"
                                :disabled="!validPassword || !validPasswordRepeat || !acceptTermsPrivacy">
                            Sign-up
                        </button>
                        <a class="btn btn-block btn-link" href="/oidc/<%= uid %>/signin">
                            Already have an account? Sign in.
                        </a>
                    </div>
                </div>
            </form>
            <% } %>
        </div>
    </div>
</div>
<div class="col-lg-5 d-flex align-items-center">
    <ul class="list-group text-white pl-lg-5" style="list-style: none;">
        <li class="list-group-item bg-darker mb-1 py-4">
            <div class="d-flex">
                <div class="pr-2"><i class="fas fa-check-circle text-primary" aria-hidden="true"></i></div>
                <div class="text-light">
                    <strong>Fast &amp; free transactions</strong><br>
                    Our side-chain provides fast and free transactions for your end-users.
                </div>
            </div>
        </li>
        <li class="list-group-item bg-darker mb-1 py-4">
            <div class="d-flex">
                <div class="pr-2"><i class="fas fa-check-circle text-primary" aria-hidden="true"></i></div>
                <div><strong>Seamless Integration</strong><br> Great documentation, the right tooling and
                    all the endpoints for your application interact with. </div>
            </div>
        </li>
        <li class="list-group-item bg-darker mb-1 py-4">
            <div class="d-flex">
                <div class="pr-2"><i class="fas fa-check-circle text-primary" aria-hidden="true"></i></div>
                <div><strong>Secure</strong><br> We provide best-in-class key management and key backup
                    solutions for your users. </div>
            </div>
        </li>
        <li class="list-group-item bg-darker mb-1 py-4">
            <div class="d-flex">
                <div class="pr-2"><i class="fas fa-check-circle text-primary" aria-hidden="true"></i></div>
                <div><strong>Modular</strong><br> Your application is flexible thanks to our modular
                    architecture. </div>
            </div>
        </li>
    </ul>
</div>