<div class="col-md-6 offset-md-3 order-0 order-sm-1">
    <div class="text-center pb-4 pt-4">
        <img src="/img/logo.png" width="60" alt="THX Logo" />
    </div>
    <div class="card shadow-sm mb-5 w-100">
        <div class="card-body p-sm-5">
            <strong class="h3 d-block text-dark text-center mb-5">
                Account
            </strong>
            <% if (alert && alert.message) { %>
            <div class="alert alert-<%= alert.variant %>">
                <%= alert.message %>
            </div>
            <% } %>

            <form id="account_update" autocomplete="off" action="/oidc/<%= uid %>/account" enctype="multipart/form-data"
                  method="POST">

                <div class="row pb-3">
                    <div class="d-flex col-4 align-items-center">
                        Picture
                    </div>
                    <div class="col-8">
                        <div class="input-group">
                            <% if (params.profileImg) { %>
                            <div class="input-group-prepend px-0">
                                <div class="input-group-text">
                                    <img width="25" src="<%= params.profileImg %>" alt="profle-picture"
                                         class="rounded-circle" />
                                </div>
                            </div>
                            <% } %>
                            <input class="form-control" name="profile" type="file" accept="image/*">
                        </div>
                    </div>
                </div>

                <div class="row pb-3">
                    <div class="d-flex col-4 align-items-center">
                        Email
                    </div>
                    <div class="col-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text px-3">
                                    <% if (params.isEmailVerified) { %>
                                    <i class="fas fa-check-circle text-success"></i>
                                    <% } else { %>
                                    <i class="fas fa-check-circle text-danger"></i>
                                    <% }%>
                                </span>
                            </div>
                            <% if (!params.email) { %>
                            <input class="form-control" name="email" required value="" />
                            <% } else if (!params.isEmailVerified) { %>
                            <input class="form-control" name="email" required value="<%= params.email %>" />
                            <% } else { %>
                            <input class="form-control" name="email" required disabled value="<%= params.email %>" />
                            <% }  %>
                        </div>
                    </div>
                </div>

                <div class="row pb-3">
                    <div class="d-flex col-4 align-items-center">
                        Plan
                        <sup data-toggle="tooltip"
                             title="Send an e-mail to info@thx.network if you want to upgrade or cancel your current plan.">
                            <i class="fas fa-question-circle text-gray ml-1"></i>
                        </sup>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" disabled value="<%= params.planType %>" />
                    </div>
                </div>

                <div class="row pb-3">
                    <div class="d-flex col-4 align-items-center">
                        First name
                    </div>
                    <div class="col-8">
                        <input class="form-control" name="firstName" value="<%= params.firstName %>" placeholder="" />
                    </div>
                </div>

                <div class="row pb-3">
                    <div class="d-flex col-4 align-items-center">
                        Last name
                    </div>
                    <div class="col-8">
                        <input class="form-control" name="lastName" value="<%= params.lastName %>" placeholder="" />
                    </div>
                </div>

                <div class="row pb-3">
                    <div class="d-flex col-4 align-items-center ">
                        Organisation
                    </div>
                    <div class="col-8">
                        <input class="form-control" name="organisation" value="<%= params.organisation %>"
                               placeholder="" />
                    </div>
                </div>

                <div class="row pb-3">
                    <div class="d-flex col-4 align-items-center">
                        Website
                    </div>
                    <div class="col-8">
                        <input class="form-control" name="website" value="<%= params.website %>" placeholder="" />
                    </div>
                </div>

                <% if (params.googleAccess) { %>
                <input form="account_update" type="hidden" name="googleAccess" value="false" />
                <% } %>

                <% if (params.twitterAccess) { %>
                <input form="account_update" type="hidden" name="twitterAccess" value="false" />
                <% } %>

                <input type="hidden" name="return_url" value="<%= params.return_url %>" />
            </form>
            <hr>
            <div class="row">
                <div class="d-flex col-4 align-items-start flex-column font-weight-bold">
                    Connect
                    <small class="text-muted">Link your other accounts using single sign-on.</small>
                </div>
                <div class="d-flex col-8">
                    <div class="w-100 d-flex flex-column">
                        <!-- <% if (params.twitchLoginUrl) { %>
                        <a class="btn btn-sign-in btn-twitch btn-block my-1" href="<%= params.twitchLoginUrl %>">
                            <div class="logo">
                                <img src="/img/twitch-logo.png" alt="twitch logo" />
                            </div>
                            <div class="label">Connect Twitch</div>
                        </a>
                        <% } %>
                        <% if (!params.twitchLoginUrl) { %>
                        <form method="post" action="/oidc/<%= uid %>/tokens/twitch/disconnect">
                            <button class="btn btn-sign-in btn-discord bg-gray btn-block my-1" type="submit">
                                <div class="logo">
                                    <img src="/img/twitch-logo.png" alt="Twitch logo" />
                                </div>
                                <div class="label">Disconnect Twitch</div>
                            </button>
                        </form>
                        <% } %> -->
                        <% if (params.discordLoginUrl) { %>
                        <a class="btn btn-sign-in btn-discord btn-block my-1" href="<%= params.discordLoginUrl %>">
                            <div class="logo">
                                <img src="/img/discord-logo.png" alt="Discord logo" />
                            </div>
                            <div class="label">Connect Discord</div>
                        </a>
                        <% } %>
                        <% if (!params.discordLoginUrl) { %>
                        <form method="post" action="/oidc/<%= uid %>/tokens/discord/disconnect">
                            <button class="btn btn-sign-in btn-twitch bg-gray btn-block my-1" type="submit">
                                <div class="logo">
                                    <img src="/img/discord-logo.png" alt="Twitch logo" />
                                </div>
                                <div class="label">Disconnect Discord</div>
                            </button>
                        </form>
                        <% } %>
                        <!-- <% if (!params.googleLoginUrl) { %>
                        <a class="btn btn-sign-in btn-google btn-block my-1" href="<%= params.googleLoginUrl %>">
                            <div class="logo">
                                <img src="/img/g-logo.png" alt="Google logo" />
                            </div>
                            <div class="label">Connect Google</div>
                        </a>
                        <% } %>
                        <% if (params.googleLoginUrl) { %>
                        <form method="post" action="/oidc/<%= uid %>/tokens/google/disconnect">
                            <button class="btn btn-sign-in btn-google bg-gray btn-block my-1" type="submit">
                                <div class="logo">
                                    <img src="/img/g-logo.png" alt="Google logo" />
                                </div>
                                <div class="label">Disconnect Google</div>
                            </button>
                        </form>
                        <% } %>
                        <% if (params.githubLoginUrl) { %>
                        <a class="btn btn-sign-in btn-github btn-block my-1" href="<%= params.githubLoginUrl %>">
                            <div class="logo">
                                <img src="/img/github-logo.png" alt="github logo" />
                            </div>
                            <div class="label">Connect Github</div>
                        </a>
                        <% } %>
                        <% if (!params.githubLoginUrl) { %>
                        <form method="post" action="/oidc/<%= uid %>/tokens/github/disconnect">
                            <button class="btn btn-sign-in bg-gray btn-github btn-block my-1" type="submit">
                                <div class="logo">
                                    <img src="/img/github-logo.png" alt="github logo" />
                                </div>
                                <div class="label">Disconnect Github</div>
                            </button>
                        </form>
                        <% } %> -->
                        <% if (params.twitterLoginUrl) { %>
                        <a class="btn btn-sign-in btn-twitter btn-block my-1" href="<%= params.twitterLoginUrl %>">
                            <div class="logo">
                                <img src="/img/t-logo.png" alt="Twitter logo" />
                            </div>
                            <div class="label">Connect Twitter</div>
                        </a>
                        <% } %>
                        <% if (!params.twitterLoginUrl) { %>
                        <form method="post" action="/oidc/<%= uid %>/tokens/twitter/disconnect">
                            <button class="btn btn-sign-in bg-gray btn-twitter btn-block my-1" type="submit">
                                <div class="logo">
                                    <img src="/img/t-logo.png" alt="Twitter logo" />
                                </div>
                                <div class="label">Disconnect Twitter</div>
                            </button>
                        </form>
                        <% } %>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row pb-3">
                <div class="d-flex col-4 align-items-start justify-content-start flex-column font-weight-bold">
                    MFA
                    <small class="text-muted">Multi-factor Authentication using time-based one-time passwords
                        (TOTP).</small>
                </div>
                <div class="col-8">
                    <% if (params.otpSecret) { %>
                    <form autocomplete="off" action="/oidc/<%= uid %>/account/totp" method="POST">
                        <button class="btn btn-light text-danger btn-block">Deactivate</button>
                        <input type="hidden" name="disable" value="true" />
                    </form>
                    <% } %>
                    <% if (!params.otpSecret) { %>
                    <form autocomplete="off" action="/oidc/<%= uid %>/account/totp" method="POST">
                        <button type="submit" class="btn btn-light text-primary btn-block">Activate</button>
                    </form>
                    <% } %>
                </div>
            </div>

            <button class="mt-5 btn btn-primary btn-block rounded-pill" type="submit" form="account_update">
                Update Infomation
            </button>
            <a class="btn btn-link btn-block rounded-pill" href="<%= params.return_url %>">
                Return to application
            </a>
        </div>
    </div>
</div>