<div class="col-md-8 offset-md-2 col-xl-4 offset-xl-4 order-0 order-sm-1">
    <div class="text-center pb-4 pt-4">
        <img src="/img/logo.png" width="60" alt="THX Logo" />
    </div>
    <div class="card shadow-sm mb-5">
        <div class="card-body pt-sm-5 px-sm-5 pb-md-4">
            <strong class="h3 d-block text-dark mb-4">
                Oops, a wild issue appeared!
            </strong>

            <% if (locals.alert && alert.message) { %>
            <div class="alert alert-<%= alert.variant %> mt-4 py-1 px-2">
                <i class="fas fa-exclamation-circle mr-1"></i>
                <%= alert.message %>
            </div>
            <% } %>

            <p>Please use the buttons below to find your way back.</p>
            <a class="btn rounded-pill btn-light btn-sm btn-block" href="<%= widgetUrl %>" target="_blank">
                Campaigns
                <i class="fas fa-chevron-right" aria-hidden="true"></i>
            </a>
            <a class="btn rounded-pill btn-light btn-sm btn-block" href="<%= publicUrl %>" target="_blank">
                Website
                <i class="fas fa-chevron-right" aria-hidden="true"></i>
            </a>
            <a class="btn rounded-pill btn-light btn-sm btn-block" href="https://docs.thx.network" target="_blank">
                Docs
                <i class="fas fa-chevron-right" aria-hidden="true"></i>
            </a>

            <% if (returnUrl) { %>
            <input type="hidden" name="returnUrl" value="<%= returnUrl %>" />
            <% } %>
        </div>

        <div class="card-footer d-flex align-items-center justify-content-end">
            <a id="btnReturn" href="<%= returnUrl %>" class="text-muted mr-auto cursor-pointer">Return to app</a>
            <a href="https://discord.com/invite/TzbbSmkE7Y" class="text-muted">Help</a>
        </div>

    </div>
</div>
<script>
    const returnUrl = document.getElementsByName('returnUrl')[0];
    document.getElementById('btnReturn').addEventListener('click', () => {
        if (window.matchMedia('(pointer:coarse)').matches) {
            if (returnUrl) {
                window.open(returnUrl.value, '_self');
            }
        } else {
            window.close();
        }
    })
</script>