<div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4 order-0 order-sm-1">
    <div class="text-center pb-4">
        <img src="/img/logo.png" width="60" alt="THX Logo" />
    </div>
    <div class="card shadow-sm">
        <div class="card-body p-sm-4">
            <form autocomplete="off" action="/oidc/<%= uid %>/forgot" method="post">
                <h2 class="h2">Forgot your password?</h2>
                <p class="text-muted">

                    No worries, we got your back! Please submit the e-mail
                    address of your account and we will send you a password reset link.
                </p>
                <% if (locals.alert && alert.message) { %>
                <div class="alert alert-<%= alert.variant %> m-0">
                    <%= alert.message %>
                </div>
                <% }  else {%>
                <div class="form-group">
                    <input placeholder="E-mail" class="form-control" autocomplete="off" required type="email"
                           name="email" />
                </div>
                <input type="hidden" name="returnUrl" value="<%= params.return_url %>" />
                <button type="submit" class="btn rounded-pill btn-primary btn-block">
                    Send password reset link
                    <i class="fas fa-chevron-right" aria-hidden="true"></i>
                </button>
                <% } %>
            </form>
        </div>
        <div class="card-footer">
            <a class="btn btn-block p-0 btn-link" href="/oidc/<%= uid %>/signin">
                Back to sign in</a>
        </div>
    </div>
</div>