<script type="module" src="/js/otp.js?v=<%= locals.deployedAt %>"></script>
<% if (params.backgroundImgUrl) { %>
<style type="text/css">
    body {
        background-image: url("<%- params.backgroundImgUrl %>") !important;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<% } %>
<style type="text/css">
    @keyframes shine {
        to {
            background-position-x: -200%;
        }
    }

    .card {
        border: 0;
    }

    .card .card-header {
        padding: 0;
        height: 5px;
    }

    .card.is-loading .card-header {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.03) 10%, #5942c1 10%, #5942c1 90%, rgba(0, 0, 0, 0.03) 90%);
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
    }

    .form-control-otp {
        text-align: center;
        font-weight: bold;
        color: #5942c1;
    }
</style>
<div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4 order-0 order-sm-1">
    <div class="text-center pb-4 pt-3">
        <% if (params.logoImgUrl) { %>
        <img src="<%- params.logoImgUrl %>" width="60" alt="THX Logo" />
        <% } else { %>
        <img src="/img/logo.png" width="60" alt="THX Logo" />
        <% } %>
    </div>
    <div class="card shadow-sm" :class="{ 'is-loading': isLoading }">
        <div class="card-header"></div>
        <div class="card-body p-sm-4 pb-sm-0">

            <% if (alert && alert.message) { %>
            <div class="alert alert-<%= alert.variant %>">
                <i class="fas fa-<%= alert.icon %> mr-2"></i>
                <%- alert.message %>
            </div>
            <% } %>

            <form id="form-otp" action="/oidc/<%= uid %>/signin/otp" method="post" class="mt-3">
                <div class="form-group">
                    <p class="mt-2 d-flex align-items-center justify-content-between">
                        <span class=" text-muted">
                            One-time password
                        </span>
                        <button form="otp-resend" type="submit" class="btn btn-sm btn-link p-0">
                            Send e-mail again
                        </button>
                    </p>
                    <div class="d-flex justify-content-between">
                        <input v-model="otp" @input="onInput" style="letter-spacing: 1rem;"
                               class="form-control form-control-otp" placeholder="*****" :disabled="isLoading"
                               type="text" name="otp" inputmode="numeric" required>
                    </div>
                </div>
                <input type="hidden" name="otp" :value="otp" />
                <input type="hidden" name="returnUrl" value="<%= params.return_url %>" />
                <button ref="submit" form="form-otp" type="submit" class="d-none"> Sign in </button>
            </form>
            <form id="otp-resend" action="/oidc/<%= uid %>/signin/resend-otp" method="post"></form>
        </div>
        <div class="card-footer justify-content-end d-flex align-items-center">
            <a class="text-muted mr-auto" href="/oidc/<%= uid %>/signin">Return to app</a>
            <div>
                <a href="https://discord.com/invite/TzbbSmkE7Y" class="text-muted">Help</a>
                <a href="https://thx.network/privacy.pdf" target="_blank" class="text-muted ml-3">Privacy</a>
                <a href="https://thx.network/general-terms-and-conditions.pdf" target="_blank"
                   class="text-muted ml-3">Terms</a>
            </div>
        </div>
    </div>
</div>