<script async type="module" src="/js/signin.js?v=<%= locals.deployedAt %>"></script>
<% if (params.backgroundImgUrl) { %>
<style type="text/css">
  body {
    background-image: url("<%- params.backgroundImgUrl %>") !important;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
<% } %>
<style type="text/css">
  @keyframes shine {
    to {
      background-position-x: -200%;
    }
  }

  hr {
    margin: 2rem 0;
    position: relative;
  }

  hr.or-separator:after {
    content: 'OR';
    background: white;
    color: gray;
    width: 40px;
    font-size: .8rem;
    margin-top: -.7rem;
    margin-left: -20px;
    left: 50%;
    text-align: center;
    position: absolute;
  }

  .btn-discord {
    background-color: #5865F2;
    color: white;
    border-radius: 25px;
    height: 50px;
    justify-content: center;
  }

  .btn-discord:hover {
    background-color: #3f4abe;
    color: white;
  }

  .card {
    border: 0;
  }

  .fade-in {
    opacity: 0;
    transition: opacity ease .5s;
  }

  .card .card-header {
    padding: 0;
    height: 5px;
  }

  .fade-in.is-mounted {
    opacity: 1;
  }

  .card.is-loading .card-header {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.03) 10%, #5942c1 10%, #5942c1 90%, rgba(0, 0, 0, 0.03) 90%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
  }

  .premium-link:hover {
    color: white;
    text-decoration: none;
  }
</style>
<div class="<%- (params.isSignup) ? 'col-md-10 col-xl-10 offset-md-1 offset-xl-2' : 'col-md-8 offset-md-2 col-xl-4 offset-xl-4' %>  fade-in"
     @vue:mounted="onMounted" :class="{ 'is-mounted': isMounted }">

  <div class="text-center pb-4 pt-3">
    <% if (params.logoImgUrl) { %>
    <img src="<%- params.logoImgUrl %>" width="60" alt="THX Logo" />
    <% } else { %>
    <img src="/img/logo.png" width="60" alt="THX Logo" />
    <% } %>
  </div>

  <div class="card shadow-sm" :class="{ 'is-loading': isLoading, 'is-mounted': isMounted }">
    <div class="card-header"></div>

    <% if (params.logoImgUrl) { %>
    <div class="bg-light py-2 px-4 d-flex align-items-center">
      <img src="/img/logo.png" width="18" alt="THX Logo" class="mr-2" />
      <small class="text-muted">Sign in with THX Network</small>
    </div>
    <% } %>

    <div class="row">
      <% if(params.isSignup) { %>
      <div class="col-md-6 order-md-1">
        <div class="bg-dark p-sm-4 h-100">

          <%
          var premium = [];

          if (params.signup_plan == 1) {
            premium.push({
              class: 'show',
              iconClass: 'fa-check-circle text-success',
              title: '€ 89 / month (14 day free trial)',
              description:
                  'We invite you to try out all of the above for a month, with no obligation to pay unless you\'re satisfied!',
            });
          };

          if (params.signup_plan == 2) {
            premium.push({
              class: 'show',
              iconClass: 'fa-check-circle text-success',
              title: '&euro; 449 / month (14 day free trial)',
              description: 'We invite you to try out all of the above for a month, with no obligation to pay unless you\'re satisfied!',
            });
          };


          premium.push({
            class: '',
            iconClass: 'fa-check-circle text-success',
            title: '2,5% fee on rewards',
            description: 'We charge a small % transactional fee on coin rewards (ERC-20). Your end users pay no fees.',
          });

          premium.push({
            class: '',
            iconClass: 'fa-times-circle text-danger',
            title: 'Transaction costs (gas fees)',
            description: 'We cover all user transaction costs (gas fees) up to the plans reward limit.',
          });
          
          if (params.signup_plan == 1) {
            premium.push({
              class: '',
              iconClass: 'fa-times-circle text-danger',
              title: 'Setup fee',
              description: 'We require no setup fee. Sign-up and you\'re ready to go!',
            });

            premium.push({
              class: '',
              iconClass: 'fa-check-circle text-success',
              title: 'Discord Bot',
              description: 'Reach your community in channels that matter most. Post reward overviews and announce new rewards, all automated.',
            });

            premium.push({
                class: '',
                iconClass: 'fa-check-circle text-success',
                title: 'Twitter Automation',
                description: 'You are already very busy managing campaigns... We\'ll automate your Twitter campaigns, so you can focus on growth!',
            });
          };

          if (params.signup_plan == 2) {
            premium.push({
              class: '',
              iconClass: 'fa-times-circle text-danger',
              title: 'Setup fee',
              description: 'We require no setup fee. Sign-up and you\'re ready to go!',
            });
             
            premium.push({
              class: '',
              iconClass: 'fa-check-circle text-success',
              title: 'Dedicated Campaign Manager',
              description:
                  'We understand you are a busy person! That\'s why we offer you a dedicated campaign manager to during your free first month.',
            });

            premium.push({
              class: '',
              iconClass: 'fa-check-circle text-success',
              title: 'Unlimited Technical Support',
              description:
                  'Your devs are probably working on other important tasks. Let our devs talk to your devs to make engine integration a piece of cake.',
            });
          };
  
          premium.push({
            class: '',
            iconClass: 'fa-check-circle text-success',
            title: 'Weekly Performance Reports',
            description:
                'We know budgets and results are important to you. We send you weekly reports by mail and are happy to jump on a call to discuss results and potential improvements.',
          });     
        
          %>

          <ul class="text-muted list-unstyled">
            <% for(var i=0; i < premium.length; i++) { %>
            <li>
              <a class="text-white d-flex premium-link py-1" data-toggle="collapse" href="#collapseExample<%= i %>"
                 role="button" aria-expanded="false" aria-controls="collapseExample<%= i %>">
                <div>
                  <i class="fas mr-1 <%- premium[i].iconClass %>"></i>
                  <span><%- premium[i].title %></span>
                </div>
                <i class=" fas fa-caret-down text-muted ml-auto"></i>
              </a>
              <div class="collapse <%- premium[i].class %>" id="collapseExample<%= i %>">
                <div class="card card-body bg-darker my-2">
                  <%- premium[i].description %>
                </div>
              </div>
            </li>
            <% } %>
          </ul>

          <hr class="bg-gray" />

          <p class="text-muted small">
            By continuing you accept THX Network's <a class="text-white"
               href="https://thx.network/general-terms-and-conditions.pdf" target="_blank">Terms &amp; Conditions</a>
            and <a class="text-white" href="https://thx.network/privacy-policy.pdf" target="_blank">Privacy
              Policy</a>.
          </p>

        </div>
      </div>
      <% } %>

      <div class="<%- (params.isSignup) ? 'col-md-6 order-md-0' : 'col-md-12' %>">
        <div class="card-body p-sm-4 pb-sm-0">

          <% if (params.signup_offer == 'true' && params.signup_plan == '2') { %>
          <div class="alert alert-info">
            <i class="fas fa-info-circle mr-1"></i>
            You have received a
            <strong><%- (params.signup_plan == '1') ? 'Basic' : (params.signup_plan == '2') ? 'Premium' : 'Free' %>
              Offer 🎁 </strong>
          </div>
          <% } %>

          <% if (params.authRequestMessage) { %>
          <div v-if="alert && alert.message" class="alert" :class="`alert-${alert.variant}`">
            <i class="fas fa-exclamation-circle mr-2"></i>
            {{alert.message}}
          </div>
          <% } %>

          <% if(params.referral_code) { %>
          <div class="alert alert-info">
            <i class="fas fa-comments mr-2"></i> We have detected a referral code!
          </div>
          <% } %>

          <% if (locals.alert && alert.message) { %>
          <div class="alert alert-<%= alert.variant %>">
            <%- alert.message %>
          </div>
          <% } %>

          <% if (params.isSignup) { %>
          <h2 class="h3 mb-3 font-weight-normal text-dark">Start your <strong>free trial</strong>!</h2>
          <% } %>

          <% if (params.discordLoginUrl && params.isSignup) { %>
          <p class="text-muted">Continue with Discord to get instant access to the <a
               href="https://discord.com/invite/TzbbSmkE7Y">#support</a> channel 🙋.</p>
          <a class="mb-2 d-flex align-items-center btn btn-discord" href="<%= params.discordLoginUrl %>">
            <img width="20" class="mr-2" src="/img/discord-logo.png" alt="Discord logo" />
            <span>Continue with Discord</span>
            <i class="fas fa-chevron-right" aria-hidden="true"></i>
          </a>
          <hr class="or-separator" />
          <% } %>

          <form id="form-signin" action="/oidc/<%= uid %>/signin" method="post">
            <% if(params.emailPasswordEnabled) { %>
            <p class="text-muted">
              <%- (params.isSignup) ? 'Use your work e-mail' : 'Use your e-mail' %>
            </p>
            <div class="form-group">
              <input placeholder="<%- (params.isSignup) ? 'yourname@work-email.com' : 'yourname@example.com' %>"
                     class="form-control" class="form-control" required type="email" name="email" v-model="email"
                     :class="{
                        'is-valid': email && !isDisabled, 'is-invalid': email && isDisabled
                    }">
            </div>
            <% } %>

            <% if (params.mfaEnabled) { %>
            <label>MFA code:</label>
            <input class="form-control mb-4" required name="code">
            <% } %>

            <input type="hidden" name="signupEmail" value="<%= params.signup_email %>" />
            <input type="hidden" name="returnUrl" value="<%= params.return_url %>" />
            <input type="hidden" name="isWidget" value="<%= params.isWidget %>" />

            <% if(params.emailPasswordEnabled) { %>
            <button type="submit" class="btn rounded-pill btn-dark btn- btn-block mb-4"
                    :class="{'disabled': isDisabled || isLoading}" @click="onClickSubmit">
              <%- (params.isSignup) ? 'Continue with e-mail' : 'Send one-time password'%>
              <i class="fas fa-chevron-right" aria-hidden="true"></i><br />
            </button>
            <% } %>

          </form>

          <% if (params.trustedProviderAvailable) { %>
          <hr class="or-separator" />
          <% } %>

          <% if (params.trustedProviderAvailable) { %>
          <p class="text-muted">Use a trusted provider</p>
          <% } %>

          <div class="d-flex align-items-center justify-content-start flex-wrap">
            <% if (params.googleLoginUrl) { %>
            <a style="width: 40px; height: 40px;" class="mr-2 mb-2 d-block p-1 btn btn-light"
               href="<%= params.googleLoginUrl %>" data-toggle="tooltip" title="Sign in with Google">
              <img width="20" src="/img/g-logo.png" alt="Google logo" />
            </a>
            <% } %>

            <% if (params.twitterLoginUrl) { %>
            <a style="width: 40px; height: 40px;" class="mr-2 mb-2 d-block p-1 btn btn-light"
               href="<%= params.twitterLoginUrl %>" data-toggle="tooltip" title="Sign in with Twitter">
              <img width="20" src="/img/t-logo.png" alt="Twitter logo" />
            </a>
            <% } %>

            <% if (params.discordLoginUrl && !params.isSignup) { %>
            <a style="width: 40px; height: 40px;" class="mr-2 mb-2 d-block p-1 btn btn-light"
               href="<%= params.discordLoginUrl %>" data-toggle="tooltip" title="Sign in with Discord">
              <img width="20" src="/img/discord-logo.png" alt="Discord logo" />
            </a>
            <% } %>

            <% if (params.githubLoginUrl) { %>
            <a style="width: 40px; height: 40px;" class="mr-2 mb-2 d-block p-1 btn btn-light"
               href="<%= params.githubLoginUrl %>" data-toggle="tooltip" title="Sign in with Github">
              <img width="20" src="/img/github-logo.png" alt="github logo" />
            </a>
            <% } %>

            <% if (params.twitchLoginUrl) { %>
            <a style="width: 40px; height: 40px;" class="mr-2 mb-2 d-block p-1 btn btn-light"
               href="<%= params.twitchLoginUrl %>" data-toggle="tooltip" title="Sign in with Twitch">
              <img width="20" src="/img/twitch-logo.png" alt="twitch logo" />
            </a>
            <% } %>
          </div>

        </div>
      </div>
    </div>


    <div class="card-footer d-flex align-items-center justify-content-end">
      <a @click="onClickReturn" href="#" class="text-muted mr-auto cursor-pointer">Return to app</a>
      <a href="https://discord.com/invite/TzbbSmkE7Y" class="text-muted">Help</a>
      <a href="https://thx.network/privacy-policy.pdf" target="_blank" class="text-muted ml-3">Privacy</a>
      <a href="https://thx.network/general-terms-and-conditions.pdf" target="_blank" class="text-muted ml-3">Terms</a>
    </div>

  </div>
</div>